html{
    height: 100%;
}

/*Here comes the main content customization*/
.main{
margin-left: 230px;
padding:16px;


}

/*Sidenav content and customization*/

.sidenavigation {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
/* The navigation menu links */
.sidenav a{
    margin: 10px;
    padding: 16px;
    width: 200px;
    display: block; 
    text-decoration: none;
    font-family: monospace;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
