html{
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Here comes the main content customization*/
.main{
margin-left: 230px;
padding:16px;


}

/*Sidenav content and customization*/

.sidenavigation {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
/* The navigation menu links */
.sidenavigation a{
    margin: 20px;
    padding: 16px;
    width: 200px;
    display: block; 
    color: Black;
    text-decoration: none;
        font-family: monospace;
}

/* When you mouse over the navigation links, change their color */
.sidenavigation a:hover {
  color: grey;
}



/*Here comes the Form CSS*/
.form{
    margin-left: 230px;
}
.form-style{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}
td{
    padding: 3px;
    margin: 3px;  
}
.textarea{
    margin: 10px;
    padding: 0px;


}