body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 500px;
    height: 500px;
    overflow: hidden;
    border: 2px solid black;
}
.image-container{
    display: flex;
    width: 500%;
    height: 500px;
}
.image {
    transition: 2s;
    width: 20%;
}
.image img{
    width: 500px;
    height: 500px;
}

.media-buttons{
    display: flex;
    justify-content: center;
    padding: 3px;

}